*{
    box-sizing: border-box; 
 }

main p{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;;


    /* als tekst niet past dan ... tonen
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    */

    padding: 75px 35px;
    margin: 10px;
}

main p.homework{
    background-color: red;
    align-self: center;
}

main p.broken{
    background-color: aqua;
    align-self: center;
}

main p.infinity{
    background-color: yellow;
}

@media (min-width: 800px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0em;
    }
}

@media (min-width: 1000px){
    main{
        max-width: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    }
    main p{
        padding: 105px 45px;
    }
    main p.broken{
        height: 97%;
        grid-row: 1/4;
        grid-column: 3;
    }
    main p.infinity{
        height: 96%;
        grid-row:2/4;
        grid-column: 4/6;
    }
}
